<app-nav></app-nav>


<section class="vh-100" style="background-color: #bda0a7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZHVjdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60p"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                 
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                     <span class="h1 fw-bold mb-0" style="font-family: 'Times New Roman', Times, serif;">Advanced Search</span>
                    </div>
                    
                    <form [formGroup]="searchNameForm" (ngSubmit)="onSubmitName()">
                    <div class="form-outline mb-2">
                      <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="Search Product Name" formControlName="name"/>
                    </div>

                    <div class="pt-2 mb-4">
                        <button class="btn btn-dark" type="submit">Search Name</button>
                      </div>
                    </form>

                    <span>OR</span>

                    <form [formGroup]="searchCodeForm" (ngSubmit)="onSubmitCode()">
                    <div class="form-outline mb-2">
                      <input type="text" id="form2Example27" class="form-control form-control-lg" placeholder="Search Product Code" formControlName="code"/>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark " type="submit">Search Code</button>
                    </div>
                </form>

                <form [formGroup]="searchBrandForm" (ngSubmit)="onSubmitBrand()">
                    <div class="form-outline mb-2">
                        <select class="form-select" formControlName="brandName">
                            <option value="Adidas">Adidas</option>
                            <option value="Nike">Nike</option>
                            <option value="Puma">Puma</option>
                            <option value="Titan">Titan</option>
                            <option value="Fossil">Fossil</option>
                          </select>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark " type="submit">Search Brand Name</button>
                    </div>
                </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
