body{
    background-color: #b8868e;
}

.login{
    margin-left: 12px;
}

.container{
    margin: 80px 0 50px 400px;
    background-color: rgb(78, 77, 77);
    border: 1px solid white;
    height: 350px;
    width: 600px;
}

h3{
   text-align: center;
   margin-top: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
input{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 33rem;
    margin-top: 10px;
}
label{
    color: white;
    margin-top: 10px;
    font-size: large;
}
.formreg{
    margin: 10px 0 0 20px;
}

.btn{
    margin: 25px 0 0 0;
    width: 33rem;
}body{
    background-color: #b8868e;
}

.login{
    margin-left: 12px;
}

.container{
    margin: 80px 0 50px 400px;
    background-color: rgb(78, 77, 77);
    border: 1px solid white;
    height: 350px;
    width: 600px;
}

h3{
   text-align: center;
   margin-top: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
input{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 33rem;
    margin-top: 10px;
}
label{
    color: white;
    margin-top: 10px;
    font-size: large;
}
.formreg{
    margin: 10px 0 0 20px;
}

.btn{
    margin: 25px 0 0 0;
    width: 33rem;
}